/* --------------------------------------------------------
    Form Validation  
-----------------------------------------------------------*/
.formError {
     z-index: 990;
}

.formError .formErrorContent {
     z-index: 991;
}

.formError .formErrorArrow {
     z-index: 996;
}

.formErrorInsideDialog.formError {
     z-index: 5000;
}

.formErrorInsideDialog.formError .formErrorContent {
     z-index: 5001;
}

.formErrorInsideDialog.formError .formErrorArrow {
     z-index: 5006;
}

.inputContainer {
     position: relative;
     float: left;
}

.formError {
     position: absolute;
     display: block;
     cursor: pointer;
}

.ajaxSubmit {
     padding: 20px;
     background: #55ea55;
     border: 1px solid #999;
     display: none
}

.formError .formErrorContent {
     width: 100%;
     white-space: nowrap;
     text-align: left;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
     background: #D42915;
     position:relative;
     color: #fff;
     font-size: 11px;
     padding: 2px 7px 3px;
     bottom: 2px;
     text-shadow: none;
}

.greenPopup .formErrorContent {
     background: #33be40;
}

.blackPopup .formErrorContent {
     background: #393939;
     color: #FFF;
}

.formError .formErrorArrow {
   width: 15px;
   margin: -2px 0 0 13px;
   position: absolute;
   bottom: -7px;
   right: 10px;
}

.formError .formErrorArrowBottom {
     box-shadow: none;
     -moz-box-shadow: none;
     -webkit-box-shadow: none;
     margin: 0px 0 0 12px; top:2px;
}

.formError .formErrorArrow div {
     font-size: 0px;
     height: 1px;
     background: #D42915;
     margin: 0 auto;
     line-height: 0;
     font-size: 0;
     display: block;
}

.formError .formErrorArrowBottom div {
     box-shadow: none;
     -moz-box-shadow: none;
     -webkit-box-shadow: none;
}

.greenPopup .formErrorArrow div {
     background: #33be40;
}

.blackPopup .formErrorArrow div {
     background: #393939;
     color: #FFF;
}

.formError .formErrorArrow .line10 {
     width: 11px;
     border: none;
}

.formError .formErrorArrow .line9 {
     width: 9px;
     border: none;
}

.formError .formErrorArrow .line8 {
     width: 7px;
}

.formError .formErrorArrow .line7 {
     width: 5px;
}

.formError .formErrorArrow .line6 {
     width: 3px;
}

.formError .formErrorArrow .line5 {
     width: 1px;
}

.formError .formErrorArrow .line4 {
     width: 0px;
}

.formError .formErrorArrow .line3 {
     width: 0px;
}

.formError .formErrorArrow .line2 {
     width: 0px;
     border: none;
     background: #ddd;
}

.formError .formErrorArrow .line1 {
     width: 0px;
     border: none;
     background: #ddd;
}

.checkableBox .formError {
   right: auto !important;
   left: 0 !important;
}